<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario de registro</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- GOOGLE FONTs -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- ANIMATE CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
</head>

<body>

    <div class="content">

        <h1 class="logo"> Taller de Finanzas personales e inversiones.<br> <span>El futuro es hoy, ¿oíste, viejo?</span></h1>

        <div class="contact-wrapper animated bounceInUp">
            <div class="contact-form">
                <h3>Formulario de registro</h3>
                <p>¡Bienvenido al registro para el taller sobre finanzas personales e inversiones!<br>
                    <br>Has dado un gran paso por haber llegado hasta aquí, ya que estadísticamente sólo uno de cada ochenta mexicanos conoce sobre estos temas.
                    <br>
                    <br>Te recordamos datos importantes sobre el taller. <br> Se llevará a cabo los días 19, 19, 25 y 26 de septiembre en un horario de 10:00 a 11:30 HRS. Después de haberte registrado se te enviará toda la información correspondiente
                    para que puedas aprovechar todas las sesiones al máximo. Los temas principales son: <br>
                    <br>- Finanzas personales
                    <br>-Inversiones en México y hacks financieros
                    <br>- Renta fija o renta variable, ¿quién soy?
                    <br>- Modelos de inversión y cultura general financiera<br>
                    <br>Trataremos de cubrir todos los contenidos y resolver todas las dudas durante las sesiones :D <br>
                    <br>Lo siguiente es que nos dejes algunos datos para continuar con todo el proceso.</p>
                <span>*obligatorio</span>
                <form action="/" method="post">
                    <p class=<%=(locals.errors && errors.nombre) ? "caja-error" : "" %>>
                        <label> <i class="fas fa-user"></i> Nombre (O como te gusta que se dirijan a ti)<span>*</span></label>
                        <input
                        type="text"
                        name="nombre"
                        value= "<%= locals.old && old.nombre ? old.nombre: ""; %>">
                    </p>
                    <%if (locals.errors && errors.nombre) { %>
                        <p class="errorMessager">
                            *<%= errors.nombre.msg%>
                        </p>
                    <% } %>
                    <p class=<%=(locals.errors && errors.email) ? "caja-error" : "" %>>
                        <label> <i class="fas fa-envelope"></i> Correo electrónico (Para mandarte spam sobre el
                            taller)<span>*</span></label>
                        <input type="email" 
                        name="email"
                        value= "<%= locals.old && old.email ? old.email: ""; %>">
                    </p>
                    <%if (locals.errors && errors.email) { %>
                        <p class="errorMessager">
                            *<%= errors.email.msg%>
                        </p>
                    <% } %>
                    <p class=<%=(locals.errors && errors.edad) ? "caja-error" : "" %>>
                        <label><i class="fas fa-hashtag"></i> Edad (Es para la estadística, no te preocupes)<span>*</span></label>
                        <input type="text" name="edad"
                        value= "<%= locals.old && old.edad ? old.edad: ""; %>">
                    </p>
                    <%if (locals.errors && errors.edad) { %>
                        <p class="errorMessager">
                            *<%= errors.edad.msg%>
                        </p>
                    <% } %>
                    <p>
                        ¿Tienes conocimientos previos sobre el tema? (No te preocupes, de cualquier forma empezaremos desde cero)
                        <label class="know"> <input type="radio" name="conocimientosPrevios" value="Empezaré desde cero">
                            Ninguno, empezaré desde cero</label>
                        <label class="know"> <input type="radio" name="conocimientosPrevios" value="Sé las cosas básicas">
                            Sé las cosas básicas</label>
                        <label class="know"> <input type="radio" name="conocimientosPrevios" value="Tengo mis finanzas bien ordenadas">
                            Tengo mis finanzas bien ordenadas</i></label>
                        <label class="know"> <input type="radio" name="conocimientosPrevios" value="Sé hacerte millonario">
                            Sé hacerte millonario con dos sencillas aplicaciones </label>
                    </p>
                    <p>
                        ¿Has invertido anteriormente?
                        <label class="know"> <input type="radio" name="inversionesAnteriores" value="si">
                            Si</label>
                        <label class="know"> <input type="radio" name="inversionesAnteriores" value="no">
                            No</label>
                    </p>
                    <p>
                        ¿Eres miembro IEEE?
                        <label class="know"> <input type="radio" name="miembroIEEE" value="si">
                            Si</label>
                        <label class="know"> <input type="radio" name="miembroIEEE" value="no">
                            No</label>
                        <label class="know"> <input type="radio" name="miembroIEEE" value="No, pero me gustaría saber">
                            No, pero me gustaría saber al respecto</label>
                    </p>
                    <p class="block">
                        <button>
                            Enviar
                        </button>
                    </p>
                </form>
            </div>
            <div class="contact-info">
                <img src="images/LogoIEEEUPIITA.png" alt="">
                <h4>Mas Información</h4>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i> G.A.M. Ticomán</li>
                    <li><i class="fas fa-phone"></i> 5729-6000 Ext. 56913</li>
                    <li><i class="fas fa-envelope-open-text"></i> contacto@ieeeupiita.mx</li>
                </ul>
                <p>"Dedicated to advancing technology for the benefit of humanity."</p>
                <br>
                <p>Agradecimientos especiales a Fazt Code</p>

            </div>
        </div>

    </div>

</body>

</html>